/*Aqui comienza carrito de compras*/
/*.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #A7D2CB;
    border-radius: 0px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}*//*nav bar es como la barra azul*/


.btnStyle{
background-color: #7d7d7e;
display: inline-block;
text-decoration: none;
font-size: 18px;
color: #fff;
padding: 7px 10px;
letter-spacing: .1em;
border-radius: 3px;
z-index: 1;
cursor: pointer;
transition: all .2s ease-in-out;
}

.btnStyle:hover{
background-color: #874C62;
box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
transform: scale(1.05, 1.05);
}


.btnStyle2{ /*Color del boton Carrito*/
background-color: #df197c;
}

.btnStyle2:hover{
background-color: #C98474;
}

.btnStyle3{ /*Color boton de annadir ingredientes y annadir carrito*/
background-color: #5b5b5c;
}


.btnStyle3:hover{
background-color: #F2D388;
}


.toggleCart{
position: relative;
}
.fa-circle {
font-size: 21px !important;
color: #C98474 ;
}

.num {
    font-size: 12px;
    padding: 3px 6px;
    color: #fff;
}

.num, .fa-circle { /*ubicacion del numero de productos que esta en el carrito*/
    position: absolute;
    right: -3px;
    top: -3px;
}

.cart{
width: 200px;
position: fixed;
top: 100px;
bottom: 5px;
/*right: -300px;*/
right: -5%;
overflow-x: hidden;
overflow-y: scroll;
z-index: 1;
background-color: #874C62;
padding: 30px;
box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
transition: all 0.25s ease-in-out;
}

.cart h2{
	/*text-align: center;*/
	text-align: left;
	margin-bottom: 10px;
}

#cartToggle{ 
	display: none;
}

/*where the magic happens*/
#cartToggle:checked ~ div.body-content > .cart{ /* ME PERMITE TRAER O ESCONDER LA BARRA DE LA IZQ CON LISTA DE PEDIDIOS Y VALOR*/
	/*right: 0px;*/
	right: -200px;
}

#cartToggle:checked ~ div.body-content{
	right: 100px;
}

#cartToggle:checked ~ div.body-content > .cart > a.finishOrder{
	right: 5px;
}






.body-content{
position: relative;
/*right: 0px;*/
right: 50px;
width: 80%;
margin: 0px auto;
display: flex;
justify-content: space-around;
transition: all .2s ease-in-out;
}



/* orders */

.recipe-menu{
margin-top: 100px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.recipe{
/*background-image: url('http://mariecatribs.com/assets/styles/images/drawn-frame-big.png');*/
background-image:   src="img\logo.png"; /*que hace estooooooooooooo???????*/
background-size: 100% 100%;
padding: 10px;
margin-bottom: 40px;
width: 300px;
position: relative;
}


.recipe img{ /*AQUI DEFINO EL TAMAÑO DE LAS HAMBURGUESAS DE LAS IMAGENES*/
width: 20%;
height: 20%;
}


.name{
font-size: 23px;
text-align: center;
}

.price {
font-weight: bold;
font-size: 22px;
padding: 0px 15px;
}

.recipe:hover > .addToCart{
opacity: 1;
}


.addToCart { 
opacity: 0;
position: absolute;
top: 70%;
left: 28%;
transition: all .2s ease-in-out;
}

.checkOrder{
padding: 50px;
}

.checkOrder {
padding: 29px 50px !important;
}


.listHeading {
text-align: center;
padding: 20px 0;
}

.listOfIngredients{
list-style: none;
margin-bottom: 15px;
}

.listOfIngredients input{
margin: 0px 5px;
}

.addIngredientWrap{
display: flex;
margin: 5px 0;
}

.addIngredientWrap input{
width: 60%;
}

.addIngredientWrap a{
padding: 2px 6px;
margin: 0 5px;
font-size: 15px;
}

.cancelInput{
background-color: #B33232;
}

.orderName {
padding: 13px 0px 8px 0px;
}

.orderPrice{
float: right;
}

hr {
margin: 25px 0 5px 0;
}

.delBtn {
float: right;
color: #F2D388;
cursor: pointer;
}

.totalDialog{
display: inline-block;
float: right;
}

.cart > h2 > span{
margin-left: 15px
}

.finishOrder {
width: 200px;
position: fixed;
bottom: 0;
/*bottom: 5px;*/
/*right: -265px;*/
z-index: 2;
padding: 6px 28px;
border-radius: 0;
text-align: center;

right: -5%;

}


#finishOrderDialog{
padding: 30px;
display: flex;
justify-content: space-around;
}

#finalOrderList{
width: 40%;
}

#finalOrderList h3{
text-align: center;
}

#finalOrderList ol{
margin: 10px 15px;
}

#buyerInfo {
width: 60%;
margin: 0 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


#buyerInfo input {  /*Permite dejar espacio o renglon en info comprador*/
margin: 5px 0;
padding: 3px;
width: 90%;
}

#buyerInfo .order{
display: block;
width: 50%;
margin-top: 10px;
text-align:center;
}


#buyerInfo input::-webkit-input-placeholder {
text-align: center;
}

#thanksMessage{
padding: 20px;
}


/* Dialog Style */
.ui-dialog {
z-index: 2;
box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
background-color: #fff;
padding: 30px;
}


.ui-draggable-handle {
position: absolute;
background-color: #A7D2CB;
width: 100%;
top: 0;
left: 0;
padding: 5px;
box-sizing: border-box;
text-align: center;
z-index: 999;
}

.ui-button {
background-color: #874C62;
border: none;
border-radius: 3px;
padding: 3px 5px;
float: right;
cursor: pointer;
transition: all .2s ease-in-out;
}

.ui-button:hover{
background-color: #C98474;
box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
transform: scale(1.05, 1.05);
}

/*Aqui finaliza carrito de compras*/