/* Menú */

.bar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 12.31%;
    left: 0;
    z-index: 1;
    background-color: #0353A4;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
  
    .btn-cerrar {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2rem;
      display: block;
      padding: 0;
      line-height: 1.5rem;
      margin: 0;
      width: 32px;
      height: 32px;
      text-align: center;
      vertical-align: top;
    }
  
    ul, li {
      margin: 0 1rem;
      padding: 0;
      list-style: none inside;
    }
  
    ul {
      position: relative;
      right: 25%;
      margin: 4rem auto;
      display: block;
      width: 30%;
      min-width: 300px;
    }
  
    a {
      display: block;
      font-size: 100%;
  
      /*Aumenta el tamaño de la letra*/
      color: #ddd;
      text-decoration: none;
    }
  }
  
  /* Botón cerrar */
  
  /* Lista del menú */
  
  /*.bar a:hover,*/
  
  .abrir-cerrar:hover {
    background-color: #33415C;
  }
  
  /*.bar img {
    width: 80px;
    height: 80px;
  }*/
  
  #btn-main {
    transition: margin-left .4s;
    padding: 1rem;
  
    .fas {
      font-size: 2rem;
    }
  }
  
  /* ----- */
  
  /* Botón que abre el menú */
  
  .abrir-cerrar {
    background-image: url("../img/menu.png");
    background-color: transparent;
    background-repeat: no-repeat;
    position: fixed;
    top: 30px;
    border-color: transparent;
    background-position: center;
    width: 45px;
    height: 45px;
    padding: 1px;
    right: 80%;
    border-radius: 6px;
    color: #ddd;
    font-size: 1rem;
  }